<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="teal darken-2" id="header">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center" data-target="mobile-nav">آلارمهای نیروگاه حرارتی تبریز</a>
      </div>
    </nav>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <a href="/alarms?section=turbine"><img src="/images/steamTurbine.svg"></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/alarms/add"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title black-text">Turbine Alarms</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <a href="/alarms?section=boiler"><img src="/images/boiler.svg"></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/alarms/add"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title black-text">Boiler Alarms</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <a href="/alarms?section=electric"><img src="/images/electric.svg"></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/alarms/add"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title black-text">Electric Alarms</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <a href="/alarms?section=aux equipments"><img src="/images/mechEquip.svg"></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/alarms/add"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title black-text" id="aux">Aux Equipment Alarms</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <a href="/alarms?section=common"><img src="/images/nine.svg"></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/alarms/add"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title black-text">Common Alarms</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card" id="all-alarma">
            <div class="card-image">
              <a href="/alarms"><img src="/images/ppn.svg"></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/alarms/add"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title black-text">All Alarms</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>     
  <footer class="page-footer teal darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <script src="/js/alarms.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>