<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Sans Arabic">
    <link rel="stylesheet" href="/css/cap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="">

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="bootstrap" viewBox="0 0 122.88 122.88">
          <title>Hamdollah</title>
          <path d="M17.89 0h88.9c8.85 0 16.1 7.24 16.1 16.1v90.68c0 8.85-7.24 16.1-16.1 16.1H16.1c-8.85 0-16.1-7.24-16.1-16.1v-88.9C0 8.05 8.05 0 17.89 0zm14.49 31.06h18.75v21.22h20.54V31.06H90.5v60.76H71.67V67.21H51.13v24.61H32.38V31.06z" fill-rule="evenodd" clip-rule="evenodd"/>
        </symbol>
        <symbol id="facebook" viewBox="0 0 16 16">
          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
        </symbol>
        <symbol id="instagram" viewBox="0 0 16 16">
            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
        </symbol>
        <symbol id="twitter" viewBox="0 0 16 16">
          <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
        </symbol>
    </svg>

    <header class="p-3 text-bg-dark sticky-md-top">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary">خانه</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">درباره ما</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="جستجو..." aria-label="Search">
            </form>
    
            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">ورود</button>
              <button type="button" class="btn btn-warning">ثبت نام</button>
            </div>
          </div>
        </div>
      </header>

      <div id="main" class="col-md-12 row m-0">
        <div id="side-bar" class="col-md-2 bg-dark">
            <ul class="nav nav-pills flex-column mb-auto position-fixed">
                <li class="nav-item">
                  <a href="#" class="nav-link text-white" aria-current="page">خانه</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">آلارمهای اتاق فرمان بخار</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">اسناد بهره برداری</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">کارکنان امور بهره برداری</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">ورود</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">ثبت نام</a>
                </li>
            </ul>
        </div>
        <div id="content" class="col-md-8">
            <h1>سیستم جبران آب (CAP)</h1>
            <p class="pe-5">
                وظیفه‌ی این سیستم جبران کمبود آب و ثابت نگه داشتن سطح آب کندانسور در یک
                محدوده‌ی خاص است. بالانس‌تانک از قسمت بالا توسط مسیری به قسمت بالای کندانسور وصل
                است. با توجه به اینکه کندانسور تحت خلاء است بالانس‌تانک نیز توسط همین لاین تحت
                خلاء خواهد بود که به این مسیر لاین بالانسینگ می‌گویند. آب در حالت عادی از این
                قسمت به صورت پاششی به بالانس‌تانک وارد می‌شود به این ترتیب هوا و گازهای
                محلول در آب از آن زدوده و جدا می‌شوند.
            </p>
            <div class="">
                <img src="/images/cap_smp.jpg" alt="CAP system SMP" class="img-fluid">
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            
            <div id="req-and-const">
                <h2>I-نیازها و ملزومات</h2>
                <p class="pe-5">
                    در دسترس بودن مواردی که گفته می‌شود برای بهره‌برداری این سیستم لازم و
                    ضروری است. شینه‌های ۳۸۰ ولت LKA و LKB حتما برقدار باشند.
                    شینه‌ی ۴۸ ولت سیگنال LCA و شینه‌ی ۱۲۵ ولت کنترل LBA در دسترس باشند.
                    سیستم هوای فشرده (SAP) ، سیستم آب دمینه (SED) و سیستم آب
                    و بخار فشارضعیف (ABP) در دسترس باشند.
                </p>
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            <div id="preparation-circuit">
                <h2>II-آماده‌سازی مقدماتی سیستم</h2>
                <h3>۱-آماده‌سازی مقدماتی الکتریکی</h3>
                <h4>۱-۱-موقعیت ادوات کنترلی</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="h5">-</span>
                        کنترلر کنترل‌والو لاین برگشتی آب به بالانس تانک (HIC 23) را در اتاق فرمان
                        در حالت دستی گذاشته و روی صفر درصد تنظیم کنید.
                    </li>
                    <li class="list-group-item">
                        در اتاق فرمان TPL والو تغذیه اضطراری کندانسور FV-18 را در حالت OFF
                        قرار دهید. (HS-18)
                    </li>
                    <li class="list-group-item">
                         در اتاق فرمان TPL والو تغذیه‌ی نرمال کندانسور LV-17 را در حالت OFF
                         قرار دهید. (HS-17)
                    </li>
                    <li class="list-group-item">
                        در اتاق فرمان سلکتور تغذیه‌ی کندانسور را در حالت AUTO قرار دهید. (HS-28)
                    </li>
                    <li class="list-group-item">
                        در محل ، سلکتور LOCAL-REMOTE والو تغذیه‌ی کندانسور LV-17 را
                        در حالت REMOTE قرار دهید. (HS-26)
                    </li>
                    <li class="list-group-item">
                        در محل ، سلکتور LOCAL-REMOTE والو تغذیه‌ی اضطراری کندانسور
                        را در حالت REMOTE قرار دهید. (HS-33)
                    </li>
                    <li class="list-group-item">
                        در اتاق فرمان TPL پمپ‌های تغذیه‌ی کندانسور Po 001-Po 002 را در حالت
                        OFF قرار دهید. (HS-27)
                    </li>
                    <li class="list-group-item">
                        در محل ، سلکتور LOCAL-REMOTE پمپ‌های تغذیه‌ی کندانسور Po 001 و
                        Po 002 را در حالت REMOTE قرار دهید.
                    </li>
                </ul>
                <h4>ولتاژهای کنترل</h4>
                <h5>بریکرهای زیر وصل باشند:</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        سیستم کنترل اتوماتیک: کابین CAP
                    </li>
                    <li class="list-group-item">
                        اندازه‌گیری و تنظیم: کابین CONTROLE BAILY
                    </li>
                </ul>
                <h4>ولتاژهای قدرت</h4>
                <h5>بریکرهای ۳۸۰ ولت وصل شوند:</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        بریکر والو تغذیه‌ی اضطراری کندانسور FV-18
                    </li>
                    <li class="list-group-item">
                        بریکرهای پمپ‌های تغذیه‌ی کندانسور Po 001 و Po 002
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">توجه: </span>
                        <p class="fst-italic">بریکرها را فقط و فقط پس از آماده‌سازی
                            مقدماتی مکانیکی سیستم وصل کنید تا مشکلی پیش نیاید.
                        </p>
                    </li>
                </ul>
                <h3 id="mechanical-preparation">آماده‌سازی مقدماتی مکانیکی</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        سیستم تغذیه‌ی آب دمینه در مدار باشد. (SED)
                    </li>
                    <li class="list-group-item">
                        سطح کندانسور نرمال باشد.
                    </li>
                    <li class="list-group-item">
                        سطح بالانس‌تانک نرمال باشد.
                    </li>
                </ul>
                <h4>هوای فشرده</h4>
                <p class="pe-5">
                    والوهای ایزوله‌ی V-029 و V-201 باز باشند.
                </p>
                <h4>مدار کنترل</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        والوهای زیر باز باشند:
                        <ul class="list-group">
                            <li class="list-group-item">
                                ABP V-001 و ABP V-002: ایزوله‌والو قسمت بالایی
                                والو موتوری
                            </li>
                            <li class="list-group-item">
                                V-022: ایزوله‌والو قسمت پایینی والو تغذیه نرمال کندانسور
                            </li>
                            <li class="list-group-item">
                                V-009: ایزوله‌والو قسمت بالایی والو مسیر برگشتی به
                                بالانس‌تانک
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        والوهای زیر بسته باشند:
                        <ul class="list-group">
                            <li class="list-group-item">
                                V-015: والو فیلینگ ستون مربوط به سطح کندانسور
                            </li>
                            <li class="list-group-item">
                                LCV-23: والو کنترلی در مسیر برگشتی به بالانس‌تانک
                            </li>
                            <li class="list-group-item">
                                FV-18: والو موتوری تغذی اضطراری کندانسور
                            </li>
                            <li class="list-group-item">
                                V-012: والو فیلینگ مسیر کندانست‌پمپ‌ها (مسیر ABP)
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        والو زیر بسته باشد:
                        <ul class="list-group">
                            <li class="list-group-item">
                                V-021: درین‌والو هدر مسیر تغذیه‌ی اضطراری
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">توجه:</span>
                        <p class="fst-italic">
                            والوهای تغذیه‌ی نرمال و مینیمم فلو (حداقل جریان) توسط سیستم
                            کنترل ، کنترل می‌شوند.
                        </p>
                    </li>
                </ul>
                <h4>پمپ‌های تغذیه‌ی نرمال</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        والوهای زیر باز باشند Po 001/Po 002:
                        <ul class="list-group">
                            <li class="list-group-item">
                                V-001/V-002: ایزوله‌والو‌های قسمت بالایی
                                ساکشن (ورودی) پمپ‌ها
                            </li>
                            <li class="list-group-item">
                                V-005/V-006: ایزوله‌والو‌های قسمت پایینی
                                خروجی پمپ‌ها
                            </li>
                            <li class="list-group-item">
                                SED V-046 و SED V-047: والوهای ورود آب دمینه
                            </li>
                        </ul>
                    </li>
                </ul>
                <h4>بالانس‌تانک</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        والوهای زیر باز باشند:
                        <ul class="list-group">
                            <li class="list-group-item">
                                SED V-022: والو تغذیه تانک آب دمینه
                            </li>
                            <li class="list-group-item">
                                V-007: والو خلاء بالانس‌تانک
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        والوهای زیر بسته باشند:
                        <ul class="list-group">
                            <li class="list-group-item">
                                V-010: والو درین بالانس‌تانک
                            </li>
                            <li class="list-group-item">
                                SED V-021: والو بای‌پس برای والو تغذیه‌ی بالانس‌تانک
                            </li>
                            <li class="list-group-item">
                                SED V-033: والو فیلینگ خط (لاین) ترانسمیتر سطح
                            </li>
                            <li class="list-group-item">
                                V-008: والو خلاء‌شکن برای خط ایجاد خلاء در بالانس‌تانک
                            </li>
                            <li class="list-group-item">
                                V-017 و V-018: والوهای هواگیری قسمت بالایی پمپ تغذیه
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            <div id="start-up">
                <h2>راه‌اندازی</h2>
                <h3>پیش‌نیازها</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        سطح آب در بالانس‌تانک (Ba-001) نرمال باشد.
                    </li>
                    <li class="list-group-item">
                        لامپ‌های هشدار و خطا خاموش (ریست) باشند.
                    </li>
                    <li class="list-group-item">
                        آماده‌سازی مقدماتی سیستم انجام شده باشد.
                        مراجعه کنید به <a href="#preparation-circuit">آماده‌سازی مقدماتی سیستم</a>
                    </li>
                </ul>
                <h3>راه‌اندازی</h3>
                <h4>پمپ‌های تغذیه‌ی کندانسور</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        در سلکتور-سوئیچ دو کلیدی پمپ‌های تغذیه‌ی کندانسور
                        کلید پمپ Po 001 را انتخاب کنید. (HS-32)
                    </li>
                    <li class="list-group-item">
                        در محل ، سلکتور-سوئیچ LOCAL-REMOTE پمپ Po 001
                        را در حالت REMOTE قرار دهید. (HS-30)
                    </li>
                    <li class="list-group-item">
                        پمپ را با دادن فرمان ON به وسیله‌ی TPL، استارت کنید. (HS-27)
                    </li>
                    <li class="list-group-item">
                        فشار خروجی پمپ را کنترل کنید. (PI-11)
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">توجه:</span>
                        <p class="fst-italic">
                            پمپ Po 002 نیز طبق دستورالعمل بالا استارت می‌شود.
                        </p>
                    </li>
                </ul>
                <h4>کنترل‌والو آب کندانسور (تغذیه‌ی نرمال)</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        عملکرد نرمال پمپ تغذیه‌ی کندانسور را چک کنید.
                    </li>
                    <li class="list-group-item">
                        در محل چک کنید که سلکتور-سوئیچ LOCAL-REMOTE والو تغذیه‌ی
                        نرمال در حالت REMOTE باشد. (HS-26)
                    </li>
                    <li class="list-group-item">
                        چک کنید که سلکتور-سوئیچ MANU-AUTO والو تغذیه‌ی نرمال
                        در حالت AUTO باشد. (HS-28)
                    </li>
                    <li class="list-group-item">
                        چک کنید زمانی که سطح آب در کندانسور به کمتر از
                        ۵۲ مترمکعب (۵۰۰ میلی‌متر) می‌رسد، والو تغذیه‌ی آب
                        کندانسور (LV-17) باز و والوهای مینیمم‌فلو (LV-37 و LV-47) بسته می‌شوند.
                    </li>
                    <li class="list-group-item">
                        چک کنید زمانی که سطح آب در کندانسور به بیشتر از ۶۸ مترمکعب
                        (۶۶۰ میلی‌متر) رسید، والو تغذیه‌ی آب کندانسور (LV-17) بسته و والوهای
                        مینیمم‌فلو (LV-37 و LV-47) باز شوند.
                    </li>
                </ul>
                <h4>والو تغذیه‌ی اضطراری (FV-18)</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        والو را به وسیله‌ی TPL با دادن فرمان ON باز کنید.
                    </li>
                    <li class="list-group-item">
                        والو را در موقعیت مورد نظر خود با فشردن TPL در موقعیت وسط مابین ON و OFF متوقف کنید.
                    </li>
                </ul>
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            <div id="shut-down">
                <h2>از مدار خارج کردن سیستم (شات‌داون)</h2>
                <h3>پمپ‌های تغذیه‌ی کندانسور</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        با TPL، فرمان OFF بدهید تا پمپی که در مدار است،
                        متوقف (استاپ) شود. HS-27
                    </li>
                    <li class="list-group-item">
                        باز شدن والو مینیمم‌فلو در خروجی هر پمپ را چک کنید.
                        LV-37 و LV-47
                    </li>
                </ul>
                <h3>والو تغذیه‌ی نرمال</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        والو تغذیه‌ی نرمال کندانسور را با دادن فرمان OFF به وسیله‌ی
                        TPL مربوطه، ببندید. (HS-17)
                    </li>
                    <li class="list-group-item">
                        بسته شدن کنترل‌والو تغذیه‌ی نرمال LV-17 و باز شدن
                        والوهای مینیمم‌فلو LV-37 و LV-47 در خروجی پمپ‌ها
                        را چک کنید.
                    </li>
                    <li class="list-group-item">
                        عملکرد درست پمپ‌ها در بهره‌برداری با حداقل فلو را
                        بررسی کنید. Po 001 و Po 002
                    </li>
                </ul>
                <h3>والو تغذیه‌ی اضطراری FV-18</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        والو را با دادن فرمان OFF به وسیله‌ی TPL، ببندید.
                    </li>
                </ul>
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            <div id="surveillance-during-operation">
                <h2>نظارت و بازدید در طول بهره‌برداری</h2>
                <h3>در اتاق فرمان</h3>
                <h4>شاخص‌ها (اندیکاتورها)</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        نشان‌دهنده‌ی سطح بالانس‌تانک (Ba-001) LI-03.
                        LI-03 نام این شاخص است که از دو قسمت تشکیل
                        شده است. قسمت اول مخفف کلمات Level Indicator 
                        و قسمت دوم یک عدد دو رقمی برای شناسایی است و در اینجا
                        03 است. سطح کاری بالانس‌تانک در بازه‌ی ۶۵۵8-۷۵۹۸ میلی‌متر (۶۵-۷۵ &#13221)
                        قرار دارد.
                        
                    </li>
                    <li class="list-group-item">
                        نشان‌دهنده‌ی سطح کندانسور LI-22. سطح کاری کنداانسور در بازه‌ی
                        ۵۰۰-۶۶۰ میلی‌متر (۵۲-۶۸ &#13221) قرار دارد.
                    </li>
                    <li class="list-group-item">
                        موقعیت والو تغذیه‌ی اضطراری FV-18 که نام این شاخص
                        ZI-18 است.
                    </li>
                </ul>
                <h4>رکوردر (ثبت کننده)</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        رکوردر سطح کندانسور KSC-UJR-001 Track No. 1
                    </li>
                </ul>
                <h4>روی پنل سیگنالینگ</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        سیگنال‌های وضعیت باز و بسته بودن کنترل‌والو تغذیه‌ی
                        نرمال LV-17
                    </li>
                    <li class="list-group-item">
                        سیگنال‌های وضعیت باز و بسته بودن والو مینیمم‌فلوی
                        پمپ Po 001. LV-37
                    </li>
                    <li class="list-group-item">
                        سیگنال‌های وضعیت باز و بسته بودن والو مینیمم‌فلوی
                        پمپ Po 002. LV-47
                    </li>
                    <li class="list-group-item">
                        سیگنال‌های وضعیت ON و OFF هر پمپ (Po 001 و Po 002)
                    </li>
                </ul>
                <h3 id="monitor-locally">در محل</h3>
                <h4>بالانس‌تانک</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        گیج‌های نشان‌دهنده‌ی سطح LG-05 و LG-25
                    </li>
                    <li class="list-group-item">
                        دمای آب TI-05
                    </li>
                </ul>
                <h4>کندانسور</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        گیج نشان‌دهنده‌ی سطح LG-06
                    </li>
                    <li class="list-group-item">
                        دمای آب در هات‌ول کندانسور TI-20. هات‌ول بخش انتهایی کندانسور
                        است که آب کندانسه‌ی بخار خروجی از توربین در آنجا جمع می‌شود.
                    </li>
                </ul>
                <h4>پمپ‌های تغذیه</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        فشار ساکشن پمپ Po 001. PI-10
                    </li>
                    <li class="list-group-item">
                        فشار خروجی پمپ Po 001. PI-11
                    </li>
                    <li class="list-group-item">
                        فشار ساکشن پمپ Po 002. PI-12
                    </li>
                    <li class="list-group-item">
                        فشار خروجی پمپ Po 002. PI-13
                    </li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            <div id="op-different-from-normal">
                <h2>عملیات متفاوت با حالت نرمال بهره‌برداری</h2>
                <h3>تخلیه‌ی (Drainage) کندانسور</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        کندانست‌پمپ‌ها ABP Po 001 و ABP Po 002 را از مدار خارج
                        کرده و بریکرشان را قطع کنید.
                    </li>
                    <li class="list-group-item">
                        والوهای زیر را بسته و در صورت موتوری بودن بریکرشان قطع گردد:
                        <ul class="list-group">
                            <li class="list-group-item">
                                والوهای ساکشن کندانست‌پمپ‌ها ABP V-001 و
                                ABP V-002
                            </li>
                            <li class="list-group-item">
                                والو تغذیه‌ی نرمال کندانسور V-022
                            </li>
                            <li class="list-group-item">
                                والو تغذیه‌ی اضطراری کندانسور FV-18
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        والو تخلیه‌ی کندانسور را باز کنید. ABP V-078
                    </li>
                </ul>
                <h3>پر کردن (Filling) کندانسور</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        والوهای زیر را از حالت قفل خارج کرده به حالت نرمال بازگردانید:
                        <ul class="list-group">
                            <li class="list-group-item">
                                والوهای ساکشن کندانست‌پمپ‌ها ABP V-001
                                و ABP V-002
                            </li>
                            <li class="list-group-item">
                                والو تغذیه‌ی نرمال کندانسور V-022
                            </li>
                            <li class="list-group-item">
                                والو تغذیه‌ی اضطراری کندانسور FV-18
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        کنترلر کنترل‌والو لاین برگشتی آب LCV 23 به بالانس تانک (HIC 23) را در اتاق فرمان
                        در حالت دستی گذاشته و روی صفر درصد تنظیم کنید.
                    </li>
                    <li class="list-group-item">
                        چک کنید:
                        <ul class="list-group">
                            <li class="list-group-item">
                                وجود آلارم CONDENSER VERY LOW LEVEL (سطح خیلی پایین کندانسور)
                                در اتاق فرمان LSLL-16
                            </li>
                            <li class="list-group-item">
                                وجود آلارم CONDENSER LOW LEVEL (سطح پایین کندانسور) LSL-22
                            </li>
                            <li class="list-group-item">
                                بستن والو درین (تخلیه) کندانسور ABP V-078
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        کندانسور را تا سطح نرمال به وسیله والو تغذیه‌ی اضطراری FV-18 پر کنید.
                        سطح کاری کندانسور مابین ۵۰۰ تا ۶۶۰ میلی‌متر (۵۲ تا ۶۸ مترمکعب) است.
                    </li>
                    <li class="list-group-item">
                        چک کنید:
                        <ul class="list-group">
                            <li class="list-group-item">
                                ری‌ست شدن آلارم CONDENSER VERY LOW LEVEL
                                (سطح خیلی پایین کندانسور) LSLL-16
                            </li>
                            <li class="list-group-item">
                                ری‌ست شدن آلارم CONDENSER LOW LEVEL (سطح پایین کندانسور)
                                LSL-22
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        مسیر ترانسمیتر سطح کندانسور را پر کنید V-015. بعد از پر کردن
                        والو V-015 را دوباره ببندید.
                    </li>
                </ul>
                <h3>از مدار خارج کردن</h3>
                <h4>از مدار خراج کردن پمپ جهت تعمیرات اساسی یا رفع عیب یا تمیز کردن فیلتر ورودی (ساکشن)</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        در صورت لزوم پمپ‌ها Po 001 و Po 002 را چنج کنید.
                        زمانی که پمپ در حال کار تریپ کند پمپ استندبای (آماده به کار)
                        به صورت اتوماتیک راه‌اندازی (استارت) می‌شود.
                    </li>
                    <li class="list-group-item">
                        بریکر پمپ مورد نظر را قطع می کنیم Po 001/Po 002
                    </li>
                    <li class="list-group-item">
                        والو ورودی پمپ را می‌بندیم V-001/V-002
                    </li>
                    <li class="list-group-item">
                        والو خروجی پمپ متوقف شده را می‌بندیم
                        V-005/V-006
                    </li>
                    <li class="list-group-item">
                        والو مینیمم‌فلوی پمپ را می‌بندیم FV-37/Fv-47
                    </li>
                    <li class="list-group-item">
                        والو تغذیه‌ی سیل هیدرولیک را می‌بندیم.
                        V-046/V-047
                    </li>
                </ul>
                <h4>تخلیه‌ی بالانس‌تانک و مسیر خروجی</h4>
                <h5>این کار فقط زمانی امکان‌پذیر است که واحد خارج از مدار است:</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        پمپ در حال کارکرد نرمال را متوقف کنید. Po 001/Po 002
                        (مراجعه کنید به قسمت <a href="#shut-down">از مدار خارج کردن</a>)
                    </li>
                    <li class="list-group-item">
                        بریکر پمپ‌ها را قطع کنید Po 001/Po 002
                    </li>
                    <li class="list-group-item">
                        والوهای خروجی هر دو پمپ را ببندید V-005/V-006
                    </li>
                    <li class="list-group-item">
                        والوهای سیل هیدرولیک را ببندید V-046/V-047
                    </li>
                    <li class="list-group-item">
                        با باز کردن والوهای تخلیه (درین) اقدام به تخلیه‌ی مسیر
                        و بالانس‌تانک کنید V-016
                    </li>
                </ul>
                <h4>تخلیه‌ی تانک آب دمینه</h4>
                <h5>این کار زمانی امکان‌پذیر است که واحد در بار پایین است:</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        بریکر پمپ‌ها را قطع کنید Po 001/Po 002
                    </li>
                    <li class="list-group-item">
                        والوهای ورودی را ببندید V-001/V-002
                    </li>
                    <li class="list-group-item">
                        بریکر والو بسته شده‌ی تغذیه‌ی اضطراری را قطع کنید FV-18
                    </li>
                    <li class="list-group-item">
                        ایزوله‌والو قسمت بالایی والو تغذیه‌ی بالانس‌تانک
                        را ببندید SED V-022
                    </li>
                    <li class="list-group-item">
                        ایزوله‌والو والو جریان برگشتی تانک را ببندید V-009
                    </li>
                    <li class="list-group-item">
                        والو خلاء را ببندید V-007
                    </li>
                    <li class="list-group-item">
                        والو خلاء‌شکن را باز کنید V-008
                    </li>
                    <li class="list-group-item">
                        والو تخلیه را باز کنید V-010
                    </li>
                </ul>
                <h3>راه‌اندازی</h3>
                <h4>راه‌اندازی بعد از تعمیرات اساسی یا رفع عیب پمپ Po 001/Po 002</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        والو سیل هیدرولیک را باز کنید V-046/V-047
                    </li>
                    <li class="list-group-item">
                        والو ورودی V-001/V-002 را باز کرده و پمپ Po 001/Po 002 را آبگیری کنید.
                    </li>
                    <li class="list-group-item">
                        پمپ را هواگیری کنید
                    </li>
                    <li class="list-group-item">
                        پمپ را با دست بگردانید و اطمینان حاصل کنید که آزادانه می‌گردد
                        و گیری ندارد
                    </li>
                    <li class="list-group-item">
                        والو خروجی را باز کنید V-005/V-006
                    </li>
                    <li class="list-group-item">
                        والو مینیمم‌فلو را به حالت نرمال بازگردانید و اطمینان حاصل کنید
                        مطابق سکوئنس عمل می‌کند. LV-37/LV-47
                    </li>
                    <li class="list-group-item">
                        بریکر پمپ را وصل کنید
                    </li>
                    <li class="list-group-item">
                        پمپ را مطابق دستورالعمل گفته شده در قسمت
                        <a href="#start-up">راه‌اندازی</a> استارت کنید
                    </li>
                    <li class="list-group-item">
                        پارامترهای گفته شده در قسمت
                        <a href="#surveillance-during-operation">
                            نظارت و بازدید در طول بهره‌برداری
                        </a>
                        را کنترل کنید
                    </li>
                </ul>
                <h4>راه‌اندازی بعد از تخلیه‌ی کامل مسیر</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        در صورت راه‌اندازی پس از یک خروج کوتاه‌مدت، چک کنید که:
                        <ul class="list-group">
                            <li class="list-group-item">
                                سطح تانک آب دمینه، نرمال باشد
                            </li>
                            <li class="list-group-item">
                                تمامی والوهای درین و هواگیری مسیر و تانک بسته باشند
                            </li>
                            <li class="list-group-item">
                                تمامی والوهای لیست شده در قسمت
                                <a href="#mechanical-preparation">
                                    آماده‌سازی مقدماتی مکانیکی
                                </a>
                                در موقعیت صحیح خود باشند
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        در صورت راه‌اندازی پس از یک خروج بلندمدت، علاوه بر
                        موارد فوق چک کنید برای هر پمپ که:
                        <ul class="list-group">
                            <li class="list-group-item">
                                روتور آزادانه بگردد
                            </li>
                            <li class="list-group-item">
                                استافینگ باکس (اگر نیاز باشد پکینگ را تعویض کنید)
                            </li>
                            <li class="list-group-item">
                                پر کردن محفظه گریس (گریسکاری)
                            </li>
                            <li class="list-group-item">
                                ورودی پمپ را هواگیری کنید V-017, V-018
                            </li>
                            <li class="list-group-item">
                                پس از آبگیری، بریکر پمپ را وصل کنید
                            </li>
                            <li class="list-group-item">
                                مسیر را همانطور که در بخش <a href="#start-up">
                                    راه‌اندازی
                                </a>
                                مشخص شده است، آبگیری کنید
                            </li>
                            <li class="list-group-item">
                                پمپ را مطابق دستورالعمل گفته شده در قسمت 
                                <a href="#start-up">
                                    راه‌اندازی
                                </a>
                                استارت کنید
                            </li>
                        </ul>
                    </li>
                </ul>
                <h4>راه‌اندازی پس از تخلیه‌ی تانک آب دمینه</h4>
                <ul class="list-group">
                    <li class="list-group-item">والو تخلیه V-010 را ببندید</li>
                    <li class="list-group-item">
                        ایزوله‌والو V-009 لاین برگشتی به بالانس‌تانک را باز کنید
                    </li>
                    <li class="list-group-item">
                        بریکر والو تغذیه‌ی اضطراری FV-18 را وصل کنید
                    </li>
                    <li class="list-group-item">
                        ایزوله‌والو‌های V-001 و V-002 قسمت بالایی پمپ‌ها را باز کنید
                    </li>
                    <li class="list-group-item">
                        لاین ترانسمیتر سطح را آبگیری کنید SED V-033
                    </li>
                    <li class="list-group-item">
                        ایزوله‌والو SED V-022 قسمت بالایی والو تغذیه را باز کنید
                    </li>
                    <li class="list-group-item">
                        تانک را تا بالاترین سطح کاری آن پر کنید تا والو LV-01 ببندد
                    </li>
                    <li class="list-group-item">
                        والو خلاء‌شکن V-008 را ببندید
                    </li>
                    <li class="list-group-item">والو خلاء V-007 را باز کنید</li>
                    <li class="list-group-item">بریکر پمپ‌ها را وصل کنید</li>
                </ul>
            </div>
            <hr class="border border-secondary border-2 opacity-50">
            <div id="incidents">
                <h2>هشدارهای (آلارم‌های) سیستم</h2>
                <h3>سطح کندانسور</h3>
                <h4 id="condenser-low-level">سطح پایین کندانسور LSL-22</h4>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>Lv-17</td>
                            <td>کنترل والو تغذیه‌ی نرمال کندانسور به
                                طور کامل باز نکرده یا ایزوله است
                            </td>
                            <td>
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        والو تغذیه‌ی نرمال کندانسور را در حالت
                                        دستی باز کنید
                                    </li>
                                    <li class="list-group-item">
                                        وضعیت والو ایزوله‌ی قبل از
                                        کنترل‌والو را بررسی کنید
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scop="row">۲</th>
                            <td>Po 001/2</td>
                            <td>پمپ از مدار خارج شده است</td>
                            <td>علت خروج پمپ را بررسی کنید، اگر
                                لازم شد، پمپ را از محل استارت کنید
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">۳</th>
                            <td>V-005/6</td>
                            <td>والوهای خروجی پمپ تغذیه بسته است</td>
                            <td>بررسی کرده و والوها را باز کنید</td>
                        </tr>
                        <tr>
                            <th scope="row">۴</th>
                            <td>-</td>
                            <td>
                                کنترل‌والو تغذیه‌ی نرمال کندانسور، کامل باز
                                و پمپ در مدار است
                            </td>
                            <td>
                                با استفاده از TPL موجود در اتاق فرمان والو
                                تغذیه‌ی اضطراری را باز کنید
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">۵</th>
                            <td>-</td>
                            <td>
                                والو مسیر برگشتی به بالانس‌تانک بسته نباشد
                            </td>
                            <td>
                                مسیر و سیستم کنترل برگشتی به
                                بالانس‌تانک را بررسی کنید
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 id="condenser-high-level">سطح بالای کندانسور LSH-14</h4>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scop="row">۱</th>
                            <td>-</td>
                            <td>
                                کنترل‌والو تغذیه‌ی نرمال سطح کندانسور، کامل
                                بسته نباشد
                            </td>
                            <td>
                                در حالت دستی، این والو را ببندید؛ تنظیمات را بررسی
                                کنید
                            </td>
                        </tr>
                        <tr>
                            <th scop="row">۲</th>
                            <td>-</td>
                            <td>والو تغذیه‌ی اضطراری کندانسور، کامل بسته نباشد</td>
                            <td>
                                اگر نیاز شد در حالت دستی این والو را ببندید؛
                                تنظیمات را بررسی کنید
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>سطح خیلی بالای کندانسور LSHH-15</h4>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>-</td>
                            <td>
                                همانند قسمت <a href="#condenser-high-level">
                                    سطح بالای کنداانسور
                                </a>
                            </td>
                            <td>
                                اطمینان حاصل کنید که آلارم سطح بالا ظاهر شده است
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">۲</th>
                            <td>-</td>
                            <td>
                                اطمینان حاصل کنید که کنترل‌والو مسیر برگشتی به تانک،
                                کامل باز باشد:
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        کنترل معیوب
                                    </li>
                                </ul>
                            </td>
                            <td>
                                کنترلر موجود در اتاق فرمان را در حالت دستی گذاشته
                                و عملیات مناسب را انجام دهید
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>ترانسمیتر سطح</h3>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>
                                <ul class="list-group pe-0 text-nowrap">
                                    <li class="list-group-item">LT-17.1</li>
                                    <li class="list-group-item">LT-17.2</li>
                                    <li class="list-group-item">LT-17.3</li>
                                </ul>
                            </td>
                            <td>
                                هشدار برای نقص در یکی از سه ترانسمیتر سطح
                            </td>
                            <td>
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        اعداد نشان‌ داده شده در نشان‌دهنده‌ی سطح،
                                        رکوردر و نشان‌دهنده‌ی محلی را با هم مقایسه کنید
                                    </li>
                                    <li class="list-group-item">
                                        ترانسمیتر را تعمیر کنید
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">۱</th>
                            <td>
                                <ul class="list-group pe-0 text-nowrap">
                                    <li class="list-group-item">LT-17.1</li>
                                    <li class="list-group-item">LT-17.2</li>
                                    <li class="list-group-item">LT-17.3</li>
                                </ul>
                            </td>
                            <td>
                                هشدار برای نقص در دو ترانسمیتر از سه ترانسمیتر سطح
                                (چشمک زدن سلکتور AUTO-MANU کنترل سطح کندانسور
                                HIC-23 در اتاق فرمان)
                            </td>
                            <td>
                                کنترل را به حالت دستی تغییر دهید و رفع عیب کنید
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>سطح بالانس‌تانک</h3>
                <h4 id="balance-tank-low-level">سطح پایین بالانس‌تانک</h4>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>LV-01</td>
                            <td>
                                اطمینان حاصل کنید که کنترل‌والو مسیر
                                آب دمینه به طور کامل باز باشد:
                                <ul class="list-group pe-0 text-nowrap">
                                    <li class="list-group-item">نقص مکانیکی</li>
                                </ul>
                            </td>
                            <td>
                                اگر باز نبود از محل آن را باز کنید یا اینکه والو بای‌پس
                                SED V-021 را باز کنید
                                <ul class="list-group pe-0 text-nowrap">
                                    <li class="list-group-item">تعمیر کنید</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">۲</th>
                            <td>LSL-01</td>
                            <td>ایراد سوییچ سطح</td>
                            <td>تعمیر و رفع عیب کنید</td>
                        </tr>
                        <tr>
                            <th scope="row">۳</th>
                            <td>-</td>
                            <td>والو بای‌پس SED V-21 والو تغذیه باز باشد</td>
                            <td>در محل بررسی کنید و اگر لازم شد ببندید</td>
                        </tr>
                    </tbody>
                </table>
                <h2>خطاهای (تریپ‌های) سیستم</h2>
                <h3>سطح کندانسور</h3>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>LSLL-16</td>
                            <td>
                                سطح خیلی پایین
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        همانند قسمت <a href="#condenser-low-level">
                                            سطح پایین کندانسور
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        بررسی کنید که کندانست‌پمپ‌ها تریپ کنند (سیستم ABP)
                                    </li>
                                    <li class="list-group-item">
                                        اطمینان حاصل کنید که سوییچ سطح پایین عملکرد درستی داشته
                                        و آلارم به موقع ظاهر شده است
                                    </li>
                                    <li class="list-group-item">
                                        اقدامات لازم یکسان همانند قسمت
                                        <a href="#condenser-low-level">
                                            سطح پایین کندانسور
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        به محض نرمال شدن سطح کندانسور سیستم ABP را
                                        دوباره راه‌اندازی کنید
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>سطح بالانس‌تانک</h3>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>LSLL-02</td>
                            <td>
                                سطح خیلی پایین در بالانس‌تانک
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        بشرح قسمت
                                        <a href="#balance-tank-low-level">
                                            سطح پایین بالانس‌تانک
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        بررسی کنید که پمپ‌های تغذیه تریپ کنند
                                    </li>
                                    <li class="list-group-item">
                                        اطمینان حاصل کنید که آلارم سطح پایین
                                        ظاهر شده باشد (در غیر اینصورت آن را
                                        تعمیر کنید)
                                    </li>
                                    <li class="list-group-item">
                                        مراجعه کنید به قسمت
                                        <a href="#balance-tank-low-level">
                                            سطح پایین بالانس‌تانک
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>پمپ‌های تغذیه‌ی نرمال</h3>
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">آیتم</th>
                            <th scope="col">دلایل احتمالی</th>
                            <th scope="col">اقدامات لازم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>-</td>
                            <td>
                                تریپ پمپ به دلیل عوامل الکتریکی
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        به دلیل سطح خیلی پایین
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group pe-0">
                                    <li class="list-group-item">
                                        بررسی کنید که پمپ استندبای استارت شود
                                    </li>
                                    <li class="list-group-item">
                                        به دنبال علت تریپ باشید (به عنوان مثال
                                        بریکر پمپ را بررسی کنید)
                                    </li>
                                    <li class="list-group-item">
                                        بررسی کنید که نیازی به استارت پمپ استندبای نباشد
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="periodic-operations">
                <h2>تست‌های بهره‌برداری</h2>
                <h3>سطوح</h3>
                <ul class="list-group">
                    <li class="list-group-item">واحد از مدار خارج شد</li>
                    <li class="list-group-item">زمان تست: هر ماه یکبار</li>
                </ul>
                <h4>کندانسور</h4>
                <ul class="list-group">
                    <h5>زمانی که سطح کندانسور نرمال باشد:</h5>
                    <li class="list-group-item">
                        کنترل‌والو مسیر برگشتی به بالانس‌تانک LCV-23 را در مقدار اولیه‌ی
                        آن، باز نگه دارید (کنترل دستی به وسیله‌ی پوزیشنر موجود
                        در اتاق فرمان HIC-23)
                    </li>
                    <li class="list-group-item">
                        مقداری آب به کندانسور از طریق باز کردن والو تغذیه‌ی
                        اضطراری FV-18 تزریق کنید. این کار را با استفاده از
                        TPL HS-18 موجود در اتاق فرمان انجام دهید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که:
                        <ul class="list-group">
                            <li class="list-group-item">
                                آلارم سطح بالا ظاهر می‌شود LSH-14
                            </li>
                            <li class="list-group-item">
                                آلارم سطح خیلی بالا ظاهر می‌شود LSHH-15
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        دوباره والو تغذیه‌ی اضطراری کندانسور را ببندید FV-18
                    </li>
                    <li class="list-group-item">
                        کنترل‌والو سطح کندانسور در مسیر برگشتی به بالانس‌تانک
                        را به حالت AUTO تنظیم کنید LCV-23
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که:
                        <ul class="list-group">
                            <li class="list-group-item">
                                 آلارم سطح خیلی بالا ریست می‌شود LSHH-15
                            </li>
                            <li class="list-group-item">
                                آلارم سطح بالا ریست می‌شود LSH-14
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        والوهای زیر را ببندید:
                        <ul class="list-group">
                            <li class="list-group-item">
                                ایزوله‌والو قسمت بالایی V-022 تغذیه‌ی نرمال
                                کندانسور
                            </li>
                            <li class="list-group-item">
                                والو تغذیه‌ی اضطراری FV-18
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        فلوی آب برگشتی به بالانس‌تانک را از طریق LCV-23
                        در حالت کنترل دستی افزایش دهید
                    </li>
                    <li class="list-group-item">
                        سطح فیدتانک را کنترل کنید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که:
                        <ul class="list-group">
                            <li class="list-group-item">
                                آلارم سطح پایین ظاهر می‌شود LSL-22
                            </li>
                            <li class="list-group-item">
                                آلارم سطح خیلی پایین ظاهر می‌شود LSLL-16.
                                در ضمن کندانست‌پمپ‌ها تریپ می‌کنند
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        ایزوله‌والو V-022 قسمت بالایی تغذیه‌ی نرمال کندانسور را باز کنید
                    </li>
                    <li class="list-group-item">
                        والو تغذیه‌ی اضطراری FV-18 را باز کنید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که آلارم سطح خیلی پایین ریست می‌شود
                    </li>
                    <li class="list-group-item">
                        یکی از کندانست‌پمپ‌ها را دوباره راه‌اندازی کنید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که آلارم سطح پایین ریست می‌شود LSLL-22
                    </li>
                    <li class="list-group-item">
                        پس از اینکه سطح نرمال شد LCV-23 دوباره به حالت
                        AUTO تنظیم کنید
                    </li>
                </ul>
                <h4>بالانس‌تانک</h4>
                <ul class="list-group">
                    <h5>زمانی که سطح بالانس‌تانک نرمال باشد:</h5>
                    <li class="list-group-item">
                        مقداری آب از طریق باز کردن والو بای‌پس SED V-021
                        به تانک تزریق کنید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که آلارم سطح بالا ظاهر می‌شود LSH-04
                    </li>
                    <li class="list-group-item">
                        والو بای‌پس SED V-021 را ببندید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که آلارم سطح بالا ریست می‌شود LSH-04
                    </li>
                    <li class="list-group-item">
                        ایزوله والو SED V-022 قبل از کنترل‌والو سطح بالانس‌تانک
                        را ببندید
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که آلارم سطح پایین ظاهر می‌شود LSL-03
                    </li>
                    <li class="list-group-item">
                        بررسی کنید که آلارم سطح خیلی پایین ظاهر می‌شود LSLL-02
                    </li>
                    <li class="list-group-item">
                        از تریپ پمپ‌های تغذیه‌ی نرمال اطمینان حاصل کنید PO 001
                        و Po 002
                    </li>
                    <li class="list-group-item">
                        ایزوله والو SED V-022 قبل از کنترل‌والو سطح بالانس‌تانک
                        را باز کنید
                    </li>
                    <li class="list-group-item">
                        پس از نرمال شدن سطح بالانس‌تانک، یکی از پمپ‌های تغذیه‌ی
                        نرمال Po 001/Po 002 را استارت کنید
                    </li>
                </ul>
                <h4>تعویض (Change-over) پمپ‌های تغذیه‌ی نرمال</h4>
                <h5>زمان این کار هفته‌ای یک بار است</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        پمپ را با استفاده از ابزار کنترل آن که همان سلکتور و TPL
                        است، استارت کنید
                    </li>
                    <li class="list-group-item">
                        پمپی را که قبلا در مدار بود، از مدار خارج کنید
                    </li>
                    <li class="list-group-item">
                        بررسی‌های مورد نیاز را مطابق موارد توصیف شده در
                        قسمت <a href="monitor-locally">
                            بازدید محلی
                        </a>
                        انجام دهید
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">توجه:</span>
                        <p class="fst-italic">
                            زمانی که مسیر آبگیری شده است، می‌توان پمپ
                            را با والو خروجی کاملا باز استارت کرد
                        </p>
                    </li>
                </ul>
            </div>
            <h3>اسناد بهره‌برداری امور توربین</h3>
            <div id="doc-list" class="col-md-12 row">
                <div id="doc-list-r" class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">سیستم جبران آب (CAP)</a></li>
                        <li class="list-group-item"><a href="">سیستم آب و بخار فشارضعیف (ABP)</a></li>
                        <li class="list-group-item"><a href="">سیستم آب و بخار فشارقوی (AHP)</a></li>
                        <li class="list-group-item"><a href="">سیستم درین‌های راه‌اندازی (ACO)</a></li>
                    </ul>
                </div>
                <div id="doc-list-l" class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">سیستم بخار آب‌بندی توربین (SSR)</a></li>
                        <li class="list-group-item"><a href="">سیستم خلاءگیری (CVI)</a></li>
                        <li class="list-group-item"><a href="">سیستم روغن روانکاری (GTH)</a></li>
                        <li class="list-group-item"><a href="">سیستم‌های حفاظتی توربین (TPS)</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div id="left-side-bar" class="col-md-2 bg-secondary">
            <ul class="nav nav-pills flex-column mb-auto position-fixed">
                <li class="nav-item">
                  <a href="#" class="nav-link text-white" aria-current="page">سیستم جبران آب CAP</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">آلارمهای اتاق فرمان بخار</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">اسناد بهره برداری</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">کارکنان امور بهره برداری</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">ورود</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">ثبت نام</a>
                </li>
            </ul>
        </div>
      </div>
      
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top sticky-md-bottom bg-light" dir="ltr">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 Hamdollah Hosseinpour</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </footer>
</body>
</html>